
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/

*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.VC.db
*.VC.VC.opendb

*.log
*.tmp

.DS_Store

# IDE specific files
.vscode/
.idea/
.vsconfig

# Visual Studio cache
.vs/
*.ipch

# Package Files
Package/